.login {
    background-color: rgb(57, 148, 255);;
    width: 7cm;
    height: 1cm;
    font-size: 20px;
    font-family: arial;
    position: absolute;
    right: 0;
    margin-right: 0.7rem;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.login:hover, .login:focus {
    background: rgb(0, 118, 255);
    color: rgb(242, 244, 251);
    border: none;
}